
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 1rem 2rem;
}

h1 {
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    background-color: steelblue;
    color: white;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: steelblue;
    font-size: 2.3rem;
    text-align: center;
}

h3 {
    text-decoration: underline;
    font-size: 1.5rem;
}

b {
    color:steelblue;
    font-size: 1.2rem;
}

a, p, h2, h3, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

li {
    margin-top: .5rem;
}

a#home {
    text-decoration: none;
    color: white;
}