
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 1rem 2rem;
}

h1 {
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    background-color: steelblue;
    color: white;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a, p, h2, h3, li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

a#home {
    text-decoration: none;
    color: white;
}